.nav{
  height: 50px;
  width: 100vw;
  background-color: #BC0606;
  filter: opacity(88%);
}

.nav-button{
  width: 12.5%;
  background-color: inherit;
}

#landing-page{
  background-color: inherit;
  max-height: 100vh;
  background-size: cover;
}

#about{
  height: 1000px;
}
