/*Base styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html, body{
  font-family: "Work Sans", serif;
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  background-color: white;
  color: #222;
}

.heading{
  text-align: center;
}

.heading > h1{
  font-weight: 600;
  font-size: 8.8rem;
}

.heading >h3{
  font-weight: 600;
  font-size: 5.5rem;
}

/*Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  padding: 0;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form{
  font-size: 2.4rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5rem
}

label{
  grid-column: 1/2;
  text-align: right;
}

input{
  font-size: 2.4rem;
  font-weight: 400;
}

input[type=text], input[type=password], input[type=email]{
  grid-column: 2/3;
  border: 0.1rem solid #707070;
  border-radius: 4px;
  padding: 0 1rem;
}

input[type=button], input[type=submit], input[type=reset]{
  grid-column: 1/3;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #D93636;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color: #d12323;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .4);
}

/*Overlay
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#overlay{
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(92,94,96,0.55);
  z-index: 2;
}

/*Navigation bar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-bar{
  width: 100vw;
  max-width: 100%;
  font-size: 1.7rem;
  background-color: #b81919;
  filter: opacity(88%);
  align-items: center;
  text-align: center;
}

#nav{
  display: flex;
  justify-content: center;
}

#nav ul{
  margin: 0;
  padding: 12px 0;
  list-style: none;
}

#nav ul li{
  display: inline;
  padding: 0 20px;
  margin-bottom: 130px;
}

#nav ul li a{
  color: white;
  text-decoration: none;
  white-space:nowrap;
}

#nav ul li a:hover{
  color: #5B0606;
}

#nav .astext{
  background:none;
  border:none;
  margin:0;
  padding:0;
  font-family: "Work Sans", serif;
  font-size: 1.7rem;
  color: white;
}

#nav .astext:hover{
  color: #5B0606;
}

/*Landing page - main page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#landing-page{
  position: relative;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: inherit;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  color: white;
  margin: 0 0 50px 0;
}

#header{
  float: none;
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
}

#header h1{
  font-family: "Roboto";
  font-weight: 300;
  font-size: 19rem;
}

#header h3{
  font-size: 4rem;
}

#header h5{
  font-size: 2rem;
}

/*Landing page - MyAccount
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#account-main{
  position: relative;
  max-width: 100%;
  background-color: inherit;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  margin: 0 0 0 0;
}

#landing-page-account{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  color: #222;
  margin: 0 0 0 0;
}

#header-account{
  float: none;
  display: flex;
  height: 94%;
  flex-direction: column;
  justify-content: center;
}

#header-account h1{
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 9.2rem;
}

#header-account h3{
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 2.9rem;
}

/*About
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#about{
  overflow: hidden;
  margin-bottom: 50px;
}

#about .container{
  text-align: center;
}

#about h4{
  font-size: 3.8rem;
  font-weight: 600;
}

#about-slide-in{
  position: relative;
  width: 1130px;
  height: 369px;
  margin: 20px 0;
  transform: translate(-550px, 0px);
}

#about-slide-in p{
  position: absolute;
  top: 50%;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  text-align: left;
  transform: translate(700px, 0px) translate(0, -50%);
  width: 300px;
}

#about-s-gallery{
  position: relative;
  display: flex;
  transform: translate(4vw, 0);
}

.slide-image{
  margin: 0 -60px;
}

/*Services
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#services{
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 8.8rem 1fr 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
  height: 900px;
  margin: 100px 0 0 0;
  justify-items: center;
  align-items: center;
}

#services .heading{
  grid-column: 1/4;
  grid-row: 1;
}

.offer-img{
  grid-column: span 1;
}

.offer-img img{
  width: 200px;
}

/*Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#contact{
  display: grid;
  grid-template-columns: repeat(3, 4fr);
  grid-template-rows: 8.8rem max-content auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
  height: 100vh;
  margin: 10rem 0 0 0;
  overflow: hidden;
}

#contact .heading{
  grid-column: 1/4;
  grid-row: 1;
  width: 100%;
}

#map{
  grid-column: 1/3;
  grid-row: 2;
  height: 369px;
  width: 450px;
  background-color: pink;
}

#contact-slide-in{
  grid-column: 3/4;
  grid-row: 2;
  position: relative;
  height: 36.9rem;
  width: 443px;
  transform: translate(0px,0);
}

#contact-slide-in p{
  position: absolute;
  top: 50%;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  text-align: right;
  transform: translate(120px, 0px) translate(0, -50%);
  width: 300px;
}

#contact-form{
  grid-column:1/4;
  grid-row: 3;
  width: 100%;
  heigth: 20rem;
  background-color: #777;
}

/*Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#footer{
  width: 100%;
  padding: 0.5rem 0;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 5rem 0 0 0;
  background-color: #787B7D;
}

#footer h5{
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 300;
  font-size: 1.8rem;
}

#footer h6{
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.2rem;
}

#footer .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#dev-signature{
  width: 33.3%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

/*Account menu - MyAccount
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#account-menu{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-stripe{
  display: grid;
  grid-template-columns: 387px 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
  height: 387px
  margin: 0;
  padding: 0;
}

#init-circle{
  grid-column: 1;
  background-color: #D93636;
  height: 387px;
  width: 387px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#init-circle h1{
  position: absolute;
  color: #FFEDD3;
  font-family: "Roboto", serif;
  font-size: 33.2rem;
  font-weight: 500;
}

#menu-bars{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.m-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 9.9rem;
  min-width: 36.2rem;
}

.m-bar h3{
  position: absolute;
  color: white;
  font-weight: 400;
}

.m-bar h3:hover{
  color: #FC9999;
}

.m-bar a{
  text-decoration: none;
  color: white;
}
.m-bar h3 a:hover{
  color: #FC9999;
}

/*My Bookings - MyAccount
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#booking-main .heading{
  margin: 5rem 0 0 0;
}

#booking-dat-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-tempalte-rows: auto;
  grid-column-gap: 0.5rem;
  grid-row-gap: 3rem;
  margin: 4rem 0 0 0;
}

#calendar-view{
  grid-column: 1;
  grid-row: 1;
  height: 32.9rem;
  widht: 45.7rem;
  background-color: pink;
}

#list-view{
  grid-column: 2;
  grid-row: 1;
  height: 32.9rem;
  widht: 45.7rem;
  background-color: #f4f0d2;
}

#booking-details{
  grid-column: 1/3;
  grid-row: 2;
  height: 30rem;
  widht: 100%;
  background-color: honeydew;
}

#cancel-booking-button{
  grid-column: 1/3;
  grid-row: 3;
  height: 5rem;
  widht: 100%;
  background-color: #D93636;
}

/*Edit My Details - MyAccount
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#details-edit-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#details-edit-main .heading{
  margin: 5rem 0 0 0;
}

#details-edit-main input[type=submit]{
  width: 15rem;
  transform: translate(-30px, 0);
}


/*Change Password - MyAccount
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#password-change-main{
  max-width: 100%;
  margin: 0 0 0 0;
  height: 100vh;
  width: 100vw;
}

#password-change-main input[type=submit]{
  width: 15rem;
  transform: translate(-30px, 0);
}

#password-change-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94%;
}

/*Sign-In
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#sign-in-main{
  max-width: 100%;
  margin: 0 0 0 0;
  height: 100vh;
  width: 100vw;
}

#sign-in-main input[type=submit]{
  width: 15rem;
  margin-top: 1.5rem;
  transform: translate(8.05rem, 0);
}

#sign-in-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94%;
}

#sign-in-form form{
  font-size: 2.4rem;
  font-weight: 600;
  display: initial;
}

#register-reset-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-reset-links h3{
  font-size: 2rem;
  margin: 0.5rem 0;
}

#register-reset-links a{
  text-decoration: none;
  color: #0F65D5;
}

#register-reset-links a:hover{
  color: #124A92;
}

/*Create account
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#account-create-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

#account-create-main .heading{
  margin: 5rem 0 0 0;
}

#account-create-main input[type=submit]{
  width: 30rem;
  transform: translate(-1rem, 0);
}

#account-create-form form{
  font-size: 2.4rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#account-create-form h3{
  font-weight: 600;
}

#required-data{
  font-size: 2.4rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5rem
}

#required-data label{
  grid-column: 1/2;
  text-align: right;
}

#required-data input{
  font-size: 2.4rem;
  font-weight: 400;
}

#required-data input[type=text], #required-data input[type=password]{
  grid-column: 2/3;
  border: 0.1rem solid #707070;
  border-radius: 4px;
  padding: 0 1rem;
}

#additional-data{
  font-size: 2.4rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1.5rem
}

#additional-data label{
  grid-column: 1/2;
  text-align: right;
}

#additional-data input{
  font-size: 2.4rem;
  font-weight: 400;
}

#additional-data input[type=text], #additional-data input[type=password]{
  grid-column: 2/3;
  border: 0.1rem solid #707070;
  border-radius: 4px;
  padding: 0 1rem;
}

#additional-data input[type=submit]{
  grid-column: 1/3;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: #D93636;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*Password reset
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#pass-reset-main{
  max-width: 100%;
  margin: 0 0 0 0;
  height: 100vh;
  width: 100vw;
}

#pass-reset-main input[type=submit]{
  width: 25rem;
  margin-top: 3.5rem;
  transform: translate(3.5rem, 0);
}

#pass-reset-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94%;
}

#pass-reset-form form{
  font-size: 2.4rem;
  font-weight: 600;
  display: initial;
}

#pass-reset-form input[type=text]{
  width: 50rem;
}

/*Booking form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#booking-form-main{
  display: grid;
  grid-column-template: 1fr;
  grid-row-template: auto;
  padding: 1.5rem;
  background-color: #ECEEEF;
  overflow-y: scroll;
}

#booking-form{
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95rem;
  background-color: #ECEEEF;
  padding: 1.5rem;
}

#booking-form form{
  font-size: 2rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 1.5rem;
  margin: 0;
}

#booking-form label{
  grid-column: 1/2;
  font-size: 2rem;
  text-align: right;
}

#booking-form .heading{
  grid-column: 1/11;
  grid-row: 1;
}

#booking-form h4{
  font-size: 2.7rem;
  font-weight: 600;
  margin: 2rem 0 0 0;
}

#computer-type-s{
  grid-column: 1/4;
  grid-row: 2;
}

#computer-type-s select{
  height: 15rem;
  width: 100%;
  font-size: 5rem;
}

#computer-details{
  grid-column: 4/11;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  align-content: end;
}

#service-details{
  grid-row: 3;
  grid-column: 1/11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

#delivery-method{
  grid-column: 1/11;
  grid-row: 4;
}

#date-select{
  grid-column: 1/11;
  grid-row: 5;
}

#personal-information{
  grid-column: 1/11;
  grid-row: 6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5rem;
}

#col-1{
  grid-column: 1/2;
  grid-row: 2;
}

#col-1 input{
  width: 40rem;
}

#col-2{
  grid-column: 2/3;
  grid-row: 2;
}

#col-2 input{
  width: 40rem;
}

#description{
  grid-column: 1/11;
  grid-row: 7;
}

#description textarea{
  width: 98%;
  font-family: "Work Sans", serif;
  font-size: 2rem;
  border: 0.1rem solid #707070;
  border-radius: 4px;
  padding: 0 1rem;
}

#form-submit{
  grid-column: 1/11;
  grid-row: 8;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

#form-submit input[type=submit]{
  width: 15rem;
}

#close-x{
  grid-row: 1;
  width: 4rem;
  height: 4rem;
  background-size: contain;
  justify-self: end;
}

#close-x img{
  height: 4rem;
}

#close-x img:hover{
  content: url(../images/close-cross3.png);
}

#booking-form input, #booking-form select{
  font-family: "Work Sans", serif;
  font-size: 2rem;
  font-weight: 400;
}

#booking-form select, #booking-form input[type=date]{
  grid-column: 2/3;
  border: 0.1rem solid #707070;
  border-radius: 4px;
  padding: 0 1rem;
}
